<app-project></app-project>
<div id="block_container">
  <h1>Ingrese el nombre del proyecto</h1>
  <br>
  <div>
    <input class="form-control" type="text"  [(ngModel)]="name" placeholder="Nombre del proyecto" #project/>
  </div>
  <div>
    <button id="buttonAdd" class="btn btn-primary" (click)="addProject(project.value)" href="javascript:void(0)">Agregar</button>
  </div>
</div>
<button mat-raised-button mat-icon-button class="example-icon favorite-icon"
matTooltip="Volver" 
aria-label="Example icon-button with heart icon" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>