
#block_container{
	background-color:#E4DCDC;
	padding-top:5px;
	margin: 0px auto;
  width: 40%;
	padding: 10px;
	border-radius: 20px;
	height:25%;
}

#input{
  margin-bottom: 10px;
  font-size: 28px;
  width: 20%;
}

#buttonAdd{
  margin-top: 10px;
  width: 70px;
	height: 30px;
	font-size: 12px;
}

.form-control{
  width: 80%;
  font-size: 15px;
}

