<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> 
    <mat-icon matTooltip="Home" (click)="sendToHome()">home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matTooltip="Salir" (click)="doLogout()">logout</mat-icon>
  </button>
  </mat-toolbar>