.example-spacer {
    flex: 1 1 auto;
  }
.span{
  text-align: center;
  align-content: center;
  justify-content: center;
  flex: 1 1 auto;
}
 .logout{
    align-items: right;
    float: right;
    margin-right: 10px;
    align-items: right;
  }