<app-project></app-project>
<div class="projectList">
  <div class="projectList1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad de incidentes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects" scope="row" (click)="listIncidents(project.id)">
        <td>
          {{project.id}}
        </td>
        <td>
          {{project.name}}
        </td>
        <td>
          1
        </td>
        <td id="mat">
          <mat-icon matTooltip="Agregar usuarios" [hidden]='!showMainContent' (click)="addUser(project.id)">account_circle</mat-icon>
        </td>
        <td id="mat">
          <mat-icon matTooltip="Editar" (click)="updateProject(project.id, project.name)">edit</mat-icon> 
        </td>
        <td id="mat">
          <mat-icon matTooltip="Ver Incidentes" (click)="listIncidents(project.id)">search</mat-icon>
        </td>
        <td id="mat">
          <mat-icon id="delete" matTooltip="Borrar" (click)="DeleteProject(project.id)">delete</mat-icon> 
        </td>
      </tr>
    </tbody>
  </table>
</div>


  
