h1{
    margin-top: 15px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    padding: 20px;
    caption-side: bottom;
    color: #666;
    letter-spacing: 1.2px;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
    font-weight: bold;
    position: center;
    padding: 10px 20px;
    border-radius: 20px;
  }

.form-control{
    font-size: 15px;
}

#buttonUpdate{
	margin-right: 10px;
}

#buttonUpdate, #buttonDelete{
	width: 70px;
	height: 30px;
	font-size: 12px;
}